.container {
  position: relative;
  height: 1500px;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: translateX(1000px);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 2000ms, transfrom 2000ms;
}

.page-exit {
  opacity: 1;
  transform: translate(0);
}

.page-exit-active {
  opacity: 0;
  transform: translate(-1000px);
  transition: all 2000ms;
}

.pageBody {
  position: fixed;
  top: 65px;
}
.lastElement,
.topElement {
  position: absolute;
}

.lastElement {
  width: 1000px;
  margin: auto;
}
.animatedBtn {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  margin: auto;
  text-align: center;
  padding-top: 0.75rem;
  border-radius: 10px;
  border: 1px black solid;
}
.card {
  width: 500px;
  margin: auto;
  margin-top: 2rem;
}
